/* NOTES TO SELF: left off arranging the 'hero' trying to get the various elements 
to align correctly into place. 

if i cant figure it out may comment out large sections of the html to soley focus 
on a narrow section of the entire puzzle. this will help me not get overwhelmed 
looking at the bigger picture  */


body {
    margin: 0%;
    padding: 0%;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 48);
    color: white;
    gap: 20px;
}

.hero {
    display: flex;4
    justify-content: space-around;
    background-color: rgb(0, 0, 48);
    color: white;
    height: 250px;
    padding: 50px;
}

.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grey-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large ;
    background-color: rgb(221, 215, 215);
}

.call-to-action {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 48);
    color: white;
    
}